{% extends 'main.html' %}
 
{% block content %}
 
<br>
 
<div class="container">
<div class="container row">
    <div class="col-lg-10">
        <h3>BOOKS:</h3>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th><Title>Name</Title></th>
                    <th>Type</th>
                    <th>Size</th>
                    <th>Topping</th>
                    <th></th>
                </tr>
                {% for p in pizzas %}
                <tr>
                    <td><b>{{p.name}}</b> </td>
                    <td>{{p.type}} </td>
                    <td>{{p.size}} </td>
                    <td> {{p.topping}} </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'edit' p.id %}">Edit</a> </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'delete' p.id %}">Delete</a> </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 
    
</div>
 
{% endblock %}